// colors

$event-color-1: #577F92; // Smalt Blue
$event-color-2: #443453; // Martinique
$event-color-3: #A2B9B2; // Edward
$event-color-4: #f6b067; // Rajah
$event-color-5: #177F92; // Smalt Blue
$event-color-6: #C43453; // Martinique
$event-color-7: #32B9B2; // Edward
$event-color-8: #E6b067; // Rajah
$event-color-9: #D7B9B2; // Edward
$event-color-10: #38b067; // Rajah
$event-color-11: #117F92; // Smalt Blue
$event-color-12: #223453; // Martinique
$event-color-13: #33B9B2; // Edward
$event-color-14: #99b067; // Rajah
$event-color-15: #557F92; // Smalt Blue
$event-color-16: #663453; // Martinique
$event-color-17: #77B9B2; // Edward
$event-color-18: #88b067; // Rajah

$text-color: #222222;
$border-color: #EAEAEA;
$bg-color: white;
$link-color: $event-color-3;

// fonts

$primary-font: 'Source Sans Pro', sans-serif;

//colum number

$columns-number: 5;
$row-height: 50px;
